@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Pathway+Gothic+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Dela Gothic One', cursive;
    background-color: #212121;
    color: #fff;
  }
  @supports (-webkit-touch-callout: none) {
  .max-w-available {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    max-width: -webkit-fill-available;
  }
}
}
